html {
  height: 100%;
}

body {
  height: 100%;
  padding-bottom: 0;
}

#container {
  min-height: 100%;
  height: auto;
  max-width: 100%;
  padding: 3px;
}

app {
    position: relative;
}

.collapse {
    margin-bottom: 0px;
}

#header-menu {
}

.right-menu {
    text-align: right;
}

#blocky {
    position: absolute;
}

#text-editor {
    height: 100%;
}

.logging-area {
    height: 310px;
    z-index: 1;
    display: none;
}

.logging-textarea {
    background-color: #fff!important;;
    height: 300px!important;;
    font-family: monospace;
    font-size: 12px;
}

.blocklyScrollbarHorizontal, .blocklyScrollbarVertical {
    display: none
}

.navbar-collapse.collapse.off {
    display: block!important;
}
.navbar-collapse.collapse.off ul {
    margin: 0;
    padding: 0;
}

.navbar-nav.no-collapse>li,
.navbar-nav.no-collapse {
    float: left !important;
}

.navbar-right.no-collapse {
    float: right!important;
}

.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

.container-fluid {
    padding: 0px;
}

.btn-facebook {
  color: #fff;
  min-height: 35px;
  margin: 12px;
  background-color: #334479;
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #42589d), color-stop(100%, #334479));
  background-image: -moz-linear-gradient(#42589d, #334479);
  background-image: -webkit-linear-gradient(#42589d, #334479);
  background-image: linear-gradient(#42589d, #334479);
  border: 1px solid #2d4070;
}
