#app {
    position: relative;
}

#header-menu {
    height: 0px;
    background-color: #191818;
}

#header-menu a {
    color: #999;
}

#header-menu .pure-menu-selected {
    background-color: #1f8dd6;
}

#header-menu .pure-menu-selected a {
    color: #fff;
}

#header-menu .pure-menu-disabled {
    color: #999;
}

#header-menu .pure-menu li a:hover,
#header-menu .pure-menu li a:focus {
    background-color: #333;
}

#header-menu li.pure-menu-selected a:hover,
#header-menu li.pure-menu-selected a:focus {
    background-color: #1f8dd6;
}

.right-menu {
    text-align: right;
}

#build-menu a {
    color: #1f8dd6;
}

#text-editor {
    height: 100%;
}

.logging-area {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fafafa;
    height: 0px;
    z-index: 1;
}

.logging-textarea {
    background-color: #fff!important;;
    height: 300px!important;;
    margin-top: 0px;
    padding: 0px;
    font-family: monospace;
    font-size: 12px;
}

.blocklyScrollbarHorizontal, .blocklyScrollbarVertical {
    display: none
}

.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}

.navbar-collapse.collapse.off {
    display: block!important;
}
.navbar-collapse.collapse.off ul {
    margin: 0;
    padding: 0;
}

.navbar-nav.no-collapse>li,
.navbar-nav.no-collapse {
    float: left !important;
}

.navbar-right.no-collapse {
    float: right!important;
}

.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

.container-fluid {
    padding: 0px;
}

.rc-border {
    border: none;
}

.btn-facebook {
  color: #fff;
  min-height: 35px;
  margin: 12px;
  background-color: #334479;
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #42589d), color-stop(100%, #334479));
  background-image: -moz-linear-gradient(#42589d, #334479);
  background-image: -webkit-linear-gradient(#42589d, #334479);
  background-image: linear-gradient(#42589d, #334479);
  border: 1px solid #2d4070;
}

#signup-dialog .modal-body, #login-dialog .modal-body {
    max-height: 200px;
    overflow-y: auto;
}
