.header {
    position: relative;
    height: 35px;
    padding-left: 80px;
    background-color: #fafafa;
    border-bottom: 1px solid #e5e5e5;
}

.header-title {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding-top: 8px;
    text-align: center;
    font-size: 12px;
    color: #858585;
    z-index: 0;
}

.build-button {
    position: relative;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 30px;
    margin-top: 3px;
    padding: 1px 6px 0px;
    font-size: 150%;
    color: #1f8dd6;
    background-color: #fafafa;
    z-index: 1;
}

.view-selector {
    height: 40px;
}

.editor {
}

.text-editor {
    height: 100%;
}

.logging-area {
    background-color: #fafafa;
    height: 150px;
}

.logging-textarea {
    background-color: #fff;
    height: 130px;
    margin-top: 20px;
    padding: 5px 10px;
    font-family: monospace;
    font-size: 12px;
}
